<main class="overview">
    <section>
        <h1>Overzicht</h1>
        <div>
            <ol>
                <h4>Name</h4>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "name"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Date</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "date"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Colour</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "colour"){%>
                            <li><%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Animal</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "animal"){%>
                            <li><%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Movie</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "movie"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Education</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "education"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Drink</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "drink"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Season</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "season"){%>
                            <li><%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <h4>Age</h4>

            <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "age"){%>
                            <li> <%- data[key][prop][name] %></li>
                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
        </div>
    </section>
</main>