<main>
    <section>
        <h1>Overzicht</h1>
        <ul>
            <ol>
                <% for(var key in data){ %>
                        <% if(data.hasOwnProperty(key)){%>
                           <% for(var prop in data[key]){ %>
                                <%for(var name in data[key][prop]){%>
                                    <%if(name == "name"){%>


                                            <li> <%- name  %> - <%- data[key][prop][name] %></li>


                                    <%}%>
                                <%}}%>
                        <%}%>
                <%}%>
            </ol>
            <ol>
                    <% for(var key in data){ %>
                        <% if(data.hasOwnProperty(key)){%>
                            <% for(var prop in data[key]){ %>
                            <%for(var name in data[key][prop]){%>
                            <%if(name == "date"){%>

                                    <li> <%- name  %> - <%- data[key][prop][name] %></li>

                            <%}%>
                            <%}}%>
                        <%}%>
                    <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "colour"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "animal"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "movie"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "education"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "drink"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "season"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
            <ol>
                <% for(var key in data){ %>
                    <% if(data.hasOwnProperty(key)){%>
                        <% for(var prop in data[key]){ %>
                        <%for(var name in data[key][prop]){%>
                        <%if(name == "age"){%>

                            <li> <%- name  %> - <%- data[key][prop][name] %></li>

                        <%}%>
                        <%}}%>
                    <%}%>
                <%}%>
            </ol>
        </ul>
    </section>
</main>