<main>
    <section>
        <h1>Overzicht</h1>
        <ul>
            <li>Name = <%=name%></li>
            <li>Date = <%=date%></li>
            <li>colour = <%=colour%></li>
            <li>animal = <%=animal%></li>
            <li>movie = <%=movie%></li>
            <li>education = <%=education%></li>
            <li>drink = <%=drink%></li>
            <li>season = <%=season%></li>
            <li>age = <%=age%></li>
        </ul>
    </section>
</main>